@import "../../../styles.scss";

.custom-container{
  position: relative;
  overflow-x: hidden;
  .navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: $blue;
    border-left: 10px solid $blue;
    transition: 0.5s;
    overflow: hidden;

    
  }
}
