<div class="navbar">
  <ul class="d-flex">
    <li>
      <a class="nav-link active home" aria-current="page" routerLink="">Home</a>
    </li>
    <span class="vertical-divider"></span>
    <li>
      <a class="nav-link active" aria-current="page" routerLink="products">Product</a>
    </li>
    <span class="vertical-divider"></span>
    <li>
      <a class="nav-link active" aria-current="page" routerLink="products">Product</a>
    </li>
    <span class="vertical-divider"></span>
    <li>
      <a class="nav-link active" aria-current="page" routerLink="admin">Management Panel</a>
    </li>
    <li class="float-end right-nav">
      <div class="float-end">
        <form class="d-flex mx-5">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success fs-6 mx-1" type="submit">Search</button>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 pr-0 mr-0 float-end">
            <li class="nav-item">
              <a class="btn btn-outline-success" aria-current="page" routerLink="baskets">Basket</a>
            </li>
          </ul>
    
        </form>
      </div>
    </li>
</ul>
</div>


<router-outlet></router-outlet>